@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: rgba(220, 40, 8, 0.628);
}

.form{
  background-color: rgba(254, 255, 173, 0.5);
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  border-radius: 20px;
  margin:70px;
  border: 10px solid black
}

#title{
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
}

.img{
  text-align: center;
}